In [43]:
import pandas as pd

In [44]:
df = pd.read_csv("data/all_transfers_no_duplicates_updated.csv")
df.head()

,Season,Player,From_Club,To_Club,From_League,To_League,Fee
0,18/19,Riyad Mahrez,leicester-city,manchester-city,GB1,GB1,67800000.0
1,18/19,Ante Palaversa,hnk-hajduk-split,manchester-city,KR1,GB1,6300000.0
2,18/19,Philippe Sandler,pec-zwolle,manchester-city,NL1,GB1,2500000.0
3,18/19,Ko Itakura,kawasaki-frontale,manchester-city,JAP1,GB1,1100000.0
4,18/19,Daniel Arzani,melbourne-city-fc,manchester-city,AUS1,GB1,890000.0

In [45]:
seasons = set(df["Season"])
leagues = set(df["From_League"]).union(set(df["To_League"]))
leagues_dict = {league : {"income": 0, "spending": 0} for league in leagues}

In [46]:
index_tuples = []
for x in leagues:
    index_tuples.extend([(x,y) for y in seasons])

In [47]:
index = pd.MultiIndex.from_tuples(index_tuples, names=["league", "season"])

In [48]:
transfer_df = pd.DataFrame(0, index=index, columns=("income", "spending"))

In [49]:
for i in range(len(df)):
    row = df.iloc[i]
    transfer_df.loc[row["From_League"], row["Season"]]["income"] += row["Fee"]
    transfer_df.loc[row["To_League"], row["Season"]]["spending"] += row["Fee"]

In [51]:
# transfer_df.to_csv("connected_scatter.csv")